/* CSS Document */
/*@import "includes/_fonts";*/
/* line 5, compass/sass/BR_CSS_main.scss */
#quick-search .ui-btn[data-icon="delete"] {
  display: inline-block;
}

/* line 8, compass/sass/BR_CSS_main.scss */
#quick-search .ui-btn[data-icon="search"] {
  display: none;
}
@media (min-width: 28em) {
  /* line 8, compass/sass/BR_CSS_main.scss */
  #quick-search .ui-btn[data-icon="search"] {
    display: inline-block;
  }
}

/* line 14, compass/sass/BR_CSS_main.scss */
.ui-table {
  width: 100%;
}
/* line 16, compass/sass/BR_CSS_main.scss */
.ui-table td {
  font-weight: normal;
  font-size: 14px;
}
/* line 17, compass/sass/BR_CSS_main.scss */
.ui-table th {
  font-weight: bold;
  font-size: 12px;
}
/* line 19, compass/sass/BR_CSS_main.scss */
.ui-table tbody td, .ui-table tbody th {
  vertical-align: center;
}

/* line 25, compass/sass/BR_CSS_main.scss */
.location-detail header .location-name, .location-detail header .region-name {
  display: inline-block;
  margin-right: 6px;
}
/* line 26, compass/sass/BR_CSS_main.scss */
.location-detail header .bookmark {
  display: inline-block;
}
/* line 28, compass/sass/BR_CSS_main.scss */
.location-detail .temperatures {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
/* line 30, compass/sass/BR_CSS_main.scss */
.location-detail .temperatures .temperature {
  display: inline-block;
  margin-right: 10px;
}
/* line 32, compass/sass/BR_CSS_main.scss */
.location-detail .temperatures .temperature em {
  font-style: normal;
  font-weight: bold;
}
/* line 35, compass/sass/BR_CSS_main.scss */
.location-detail .temperatures .temperature.temperature-min .temperature-quantity {
  color: #345A8E;
}
/* line 36, compass/sass/BR_CSS_main.scss */
.location-detail .temperatures .temperature.temperature-max .temperature-quantity {
  color: #f00;
}
/* line 40, compass/sass/BR_CSS_main.scss */
.location-detail .day-forecast-content .unit {
  font-size: 10px;
}
/* line 43, compass/sass/BR_CSS_main.scss */
.location-detail .forecast-interval td, .location-detail .forecast-interval th {
  vertical-align: middle;
}
/* line 47, compass/sass/BR_CSS_main.scss */
.location-detail .forecast-interval .wind-direction img {
  width: 22px;
  vertical-align: middle;
}
/* line 53, compass/sass/BR_CSS_main.scss */
.location-detail .forecast-interval .sky-status img {
  width: 36px;
  vertical-align: middle;
}
/* line 60, compass/sass/BR_CSS_main.scss */
.location-detail .forecast-param .forecast-param-quantity {
  font-style: normal;
  font-weight: bold;
}
/* line 66, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity {
  color: #fff;
  display: inline-block;
  padding: 1px;
  border-radius: 4px;
  text-shadow: none;
}
/* line 68, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity.uv-LOW {
  background-color: #21674F;
}
/* line 69, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity.uv-MODERATED {
  background-color: #21674F;
  color: #000;
}
/* line 70, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity.uv-HIGH {
  background-color: #CE761F;
}
/* line 71, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity.uv-VERY_HIGH {
  background-color: #D41A1F;
}
/* line 72, compass/sass/BR_CSS_main.scss */
.location-detail .uv .forecast-param-quantity.uv-EXTREME {
  background-color: #571E7D;
}

/* line 77, compass/sass/BR_CSS_main.scss */
.loading {
  padding: 50px 0;
}
/* line 79, compass/sass/BR_CSS_main.scss */
.loading p {
  margin: 0 auto;
  width: 56px;
}
