<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.borrasca" versionCode="17" version="1.7.2">

    <name>Borrasca</name>

    <description>
      Predicción meteorológica a 7 días en municipios de España 
    </description>

    <author href="http://digitalpapyrus.es" email="info@digitalpapyrus.es">
      DigitalPapyrus
    </author>
    <icon src="img/logo.png" />
    <preference name="orientation" value="portrait" />
    <preference name="android-targetSdkVersion" value="28" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://digitalpapyrus.eu/*" />
    <allow-intent href="https://digitalpapyrus.eu/*" />

</widget>